{% extends "includes/base.html" %}
{% load static %}
{% block title %}All Orders{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/manager_reports.css' %}">
{% endblock %}
{% block content %}

<h2 class="page-title">
    <i class="fas fa-file-invoice icon-spacing"></i> All Orders
</h2>

<div class="container">
    <div class="report-container">
        <table class="report-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>User</th>
                    <th>Power Bank</th>
                    <th>Status</th>
                    <th>Total Cost</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.user.username }}</td>
                    <td>{{ order.power_bank.id }}</td>
                    <td>{{ order.order_status }}</td>
                    <td>￡{{ order.total_cost }}</td>
                    <td>{{ order.start_time }}</td>
                    <td>{{ order.end_time|default:"Ongoing" }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7" class="text-center">No orders found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="{% url 'manager_reports' %}" class="btn btn-dashboard">Reports</a>
</div>

{% endblock %}
