{% extends 'includes/base.html' %}
{% load static %}
{% block title %}Power Banks in {{ station.name }}{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/powerbank_list.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center text-green">
        <i class="fas fa-bolt"></i> Power Banks in {{ station.name }}
    </h2>

    <table class="custom-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Battery Level</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for powerbank in powerbanks %}
            <tr>
                <td>{{ powerbank.id }}</td>
                <td class="{% if powerbank.battery_level < 30 %}text-danger{% elif powerbank.battery_level < 60 %}text-warning{% else %}text-success{% endif %}">
                    {{ powerbank.battery_level }}%
                </td>
                <td class="{% if powerbank.status == 'available' %}text-success{% elif powerbank.status == 'rented' %}text-warning{% else %}text-danger{% endif %}">
                    {{ powerbank.get_status_display }}
                </td>
                <td class="actions">
                    {% if powerbank.status == "damaged" %}
                        <button class="btn btn-repair repair-btn" data-id="{{ powerbank.id }}">Repair</button>
                    {% else %}
                        <button class="btn btn-warning update-btn" data-id="{{ powerbank.id }}">Update</button>
                    {% endif %}
                    <button class="btn btn-danger delete-btn" data-id="{{ powerbank.id }}">Delete</button>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center">No power banks available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- 统一确认操作弹窗 -->
    <div id="confirmActionModal" class="modal">
        <h2><span id="actionTitle">Confirm Action</span></h2>
        <p id="actionMessage">Are you sure you want to proceed?</p>
        <div class="modal-buttons">
            <button id="confirmAction" class="btn btn-primary">Confirm</button>
            <button id="cancelAction" class="btn btn-secondary">Cancel</button>
        </div>
    </div>


    <div class="text-center mt-4">
        <a href="{% url 'station_list_manager' %}" class="btn btn-secondary custom-nav-btn">Stations</a>
        <a href="{% url 'manager_dashboard' %}" class="btn btn-success custom-nav-btn">Dashboard</a>
    </div>

</div>

<script src="{% static 'js/powerbank_list.js' %}"></script>
{% endblock %}