
/* 输入框 */
.login-input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #d5dbdb;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

.login-input:focus {
    border-color: #1e8449;
    outline: none;
    box-shadow: 0px 0px 5px rgba(30, 132, 73, 0.5);
}

/* 提示信息 */
.alert {
    display: block;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
}

/* 登录标题 */
.login-title {
    font-size: 24px;
    font-weight: bold;
    color: #1e8449;
    margin-bottom: 20px;
}

.btn-success,
.btn-orange {
    width: 100%;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 6px;
    height: 40px;
    text-align: center; /* 让按钮内的文字居中 */
    display: flex;  /* 让图标和文字水平居中 */
    justify-content: center;  /* 水平居中 */
    align-items: center; /* 垂直居中 */
}

.btn-success {
    background-color: #1e8449;
}

.btn-success:hover {
    background-color: #27ae60;
}

.btn-orange {
    background-color: #e67e22;
}

.btn-orange:hover {
    background-color: #d35400;
}

/* 统一样式 */
.register-link,
.back-link {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 8px;
    transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
}

.register-link {
    color: #1e8449;
}

.register-link:hover {
    color: #145a32;
    text-decoration: underline;
}

.back-link {
    color: #e67e22;
}

.back-link:hover {
    color: #d35400;
    text-decoration: underline;
}


/* 管理员页面背景 */
body {
    background-image: url("/static/images/powerup-8.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #a9c39f;
}



/* Logo 样式 */
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.logo-container img {
    width: 100px;
    height: auto;
}

.welcome-text {
    font-size: 22px;
    font-weight: bold;
    color: #1e8449;
    margin-bottom: 16px;
}

.messages {
    list-style: none;
    padding: 0;
}

.list-group-item-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.text-orange {
    color: #e67e22 !important;
}
