{% extends 'includes/base.html' %}
{% load static %}
{% block title %}Register{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}
{% block content %}

<h2 class="page-title">
    <i class="fas fa-user icon-spacing"></i>Registration
</h2>

<div class="container">
    <form method="POST" class="card" id="registerForm">
        {% csrf_token %}
            <!-- 显示 Django 的错误消息 -->
            {% if form.errors %}
                <div class="error-message">
                    {{ form.errors }}
                </div>
            {% endif %}

        <!-- 输入框统一样式 -->
        <div class="mb-3">
            <label for="id_username">Username:</label>
            <input type="text" name="username" class="form-control" id="id_username" required>
        </div>

        <div class="mb-3">
            <label for="id_email">Email:</label>
            <input type="email" name="email" class="form-control" id="id_email" required>
        </div>

        <div class="mb-3">
            <label for="id_phone">Phone:</label>
            <input type="text" name="phone" class="form-control" id="id_phone" required>
        </div>

        <div class="mb-3">
            <label for="id_password">Password:</label>
            <input type="password" name="password" class="form-control" id="id_password" required>
        </div>

        <div class="mb-3">
            <label for="confirm_password">Confirm Password:</label>
            <input type="password" class="form-control" name="confirm_password" id="confirm_password" required>
        </div>

        <button type="button" class="btn-reg" id="registerBtn">Register</button>
    </form>
</div>

<script src="{% static 'js/form.js' %}"></script>
{% endblock %}