{% extends 'includes/base.html' %}
{% load static %}

{% block title %}Rent a Power Bank{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center"><i class="fa-solid fa-download"></i> Rent Power Bank</h2>

    <div class="mb-3 mx-auto" style="width: 75%;">
        <label for="rental_station" class="form-label">
            <i class="fas fa-map-marker-alt"></i> Select Rental Station:
        </label>
        <select id="rental_station" name="rental_station" class="form-select w-100">
            {% for station in stations %}
                <option value="{{ station.id }}">{{ station.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="text-center">
        <form method="POST" action="{% url 'rent_powerbank' %}" id="rentForm">
            {% csrf_token %}
            <input type="hidden" name="station_id" id="selected_station">
            <button type="submit" class="btn btn-success">Rent</button>
        </form>
    </div>
</div>

<script src="{% static 'js/rent.js' %}"></script>
{% endblock %}
