{% extends 'includes/base.html' %}
{% load static %}
{% block title %}Return a Power Bank{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center text-success">
        <i class="fa-solid fa-upload"></i> Return Power Bank
    </h2>

    <form id="returnForm" method="POST" action="{% url 'return_powerbank' %}" class="mt-4">
        {% csrf_token %}
        <button type="submit" class="btn btn-success w-100 return-btn">
            <i class="fas fa-undo-alt"></i> Return
        </button>
    </form>
</div>

<script src="{% static 'js/return.js' %}"></script>
{% endblock %}