{% extends 'includes/base.html' %}
{% load static %}

{% block title %}Payment Details{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center text-success"><i class="fas fa-file-invoice-dollar"></i> Payment Details</h2>

    <div class="card p-4 shadow mt-4">
        <div class="d-flex justify-content-between">
            <strong>Total Payment Amount:</strong>
            <span class="text-success">£{{ payment_amount }}</span>
        </div>
        <div class="d-flex justify-content-between">
            <strong>Remaining Wallet Balance:</strong>
            <span class="text-warning">£{{ rental.user_id.balance|floatformat:2 }}</span>
        </div>

        <table class="table mt-3">
            <tr><th><strong>Customer Info</strong></th><td><strong>{{ rental.user_id.username }}</strong></td></tr>
            <tr><th><strong>Usage Hours</strong></th><td><strong>{{ payment.usage_hours }} Hours</strong></td></tr>
            <tr><th>Start Time</th><td>{{ rental.start_time | date:"Y-m-d H:i:s" }}</td></tr>
            <tr><th>End Time</th><td>{{ rental.end_time | date:"Y-m-d H:i:s" }}</td></tr>
            <tr><th>Start Station</th><td>{{ start_station_name }}</td></tr>
            <tr><th>End Station</th><td>{{ end_station_name }}</td></tr>
            <tr><th><strong>Power Bank ID</strong></th><td><strong>{{ rental.power_bank_id }}</strong></td></tr>
        </table>

        <form action="{% url 'payment_success' rental_id=rental.id %}" method="get">
            <button type="submit" class="btn btn-success w-100">Confirm Payment</button>
        </form>
    </div>
</div>
{% endblock %}