{% extends 'includes/base.html' %}
{% load static %}

{% block title %}Payment Success{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center text-success"><i class="fas fa-check-circle"></i> Payment Successful</h2>

    <div class="alert alert-success text-center mt-4">
        Your payment has been processed successfully. Thank you!
    </div>

    <div class="card p-4 shadow">
        <p class="h4"><strong>Rental Info</strong></p>
        <table class="table mt-3">
            <tr><th>Payment ID</th><td>{{ payment.id }}</td></tr>
            <tr><th>Customer Info</th><td>{{ rental.user_id.username }}</td></tr>
            <tr><th>Wallet Balance</th><td><strong class="text-success">£{{ rental.user_id.balance|floatformat:2 }}</strong></td></tr>
            <tr><th>Payment Amount</th><td><strong class="text-success">£{{ payment.payment_amount }}</strong></td></tr>
            <tr><th>Usage Hours</th><td>{{ payment.usage_hours }} Hours</td></tr>
        </table>

       <div class="d-flex justify-content-center gap-3">
            <form action="{% url 'payment_history' user_id=rental.user_id.id %}" method="get">
                <button type="submit" class="btn btn-success">
                    <i class="fas fa-receipt"></i> View Receipt
                </button>
            </form>
            <form action="{% url 'rent_default' %}" method="get">
                <button type="submit" class="btn btn-outline-success">
                    <i class="fas fa-bolt"></i> Rent Again
                </button>
            </form>
            <form action="{% url 'home' %}" method="get">
                <button type="submit" class="btn btn-secondary">
                    <i class="fas fa-home"></i> Back to Home
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
